{#
/**
 * @file product_formule_entity.html.twig
 * Default theme implementation to present Product formule entity data.
 *
 * This template is used when viewing Product formule entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_product_formule_entity()
 *
 * @ingroup themeable
 */
#}


{% set nb_questions = formule_fields|length %}
{% set modal_id = "modal-formule-" ~ product_formule_entity.id() %}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ modal_id }}">
  {{ "Choose this formule"|t }}
</button>

<div class="modal fade modal-product-formule" id="{{ modal_id }}" data-product="{{ product_formule_entity.id() }}" >
  <div class="modal-dialog">
    <button type="button" class="close d-flex align-center" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="close-cross">&times</span>
      Fermer
    </button>
    <div class="modal-content" data-show="reception">
      <div class="left-zone">
        <div>
          <p class="product-label"><strong>{{ node_label }}</strong></p>
          <p class="formule-label lead"><strong>{{ product_formule_entity.getName() }}</strong></p>
          <div data-step="reception">
            <span class="h1">
            Vérifions votre éligibilité à la pré-commande
          </span>
            <p>Afin de vérifier votre éligibilité à la pré-commande en ligne et de nous permettre de configurer votre formule,
              répondez aux {{ nb_questions }} questions suivantes.
            </p>

            <button class="btn btn-primary btn-begin">Commencer</button>
          </div>
          <div class="progressbar d-none" data-label="Question {num_question}/{{ nb_questions }}">
            <progress max="{{ nb_questions + 1 }}" value="1"></progress>
            <div class="progressbar-label" >Question 1/{{ nb_questions}}</div>
          </div>
          <div class="result-stack d-none">

          </div>
        </div>

      </div>
      <div class="right-zone">
        <div data-step="reception">
          <p>RIGHT ZONE RECEPTION</p>
        </div>
        {% for formule_field in formule_fields %}
          <div class="{% if loop.index != 1 %}d-none{% endif %}" data-step="process">
            {{ formule_field }}
          </div>
        {% endfor %}
        <div data-step="contact-form">
          <div><span class="h1" data-field="no-result-title"></span></div>
          <div><span data-field="no-result-sentence"></span></div>
          <a class="btn btn-primary" data-field="no-result-link"></a>
        </div>
        <div data-step="result"></div>
      </div>
    </div>
  </div>
</div>
