{# @see oab_modular_product_preprocess_paragraph__module_domains() #}
{% set logo = content.field_logo.0 %}
{% set title = content.field_teaser_title.0['#context']['value'] %}
{% set text = content.field_teaser.0['#context']['value'] %}
{% set link = {
    url: path('entity.node.canonical', {'node': node.id() }),
    title: 'Read more'|t
} %}
{% set utag = {
  titre_page: node.track_title ?: '',
  track_zone: 'Domains',
  track_title: title ?: node.label(),
  track_target: 'Read more'|t,
} %}

{%
  set classes = [
    'd-flex',
    'flex-column',
    'justify-content-between',
    'w-100',
    'p-2',
    'bg-greige',
    'text-break',
    'fullclick',
    'node--type--' ~ node.bundle|clean_class,
    'node--view-mode--' ~ view_mode|clean_class,
    'domain-card',
    'domain-card--default',
  ]
%}

<section{{attributes.addClass(classes)}}>
	<div class="d-flex flex-column domain-card__top">
		{% if logo|length %}
			<div class="pb-2 domain-card__logo">
				{{ logo }}
			</div>
		{% endif %}

		{% if title|length %}
      <div class="h3 m-0 pb-2 horizontal-align-item-field domain-card__title">
        {{ title }}
      </div>
		{% endif %}

    {% if text|length %}
      <div class="pb-2 domain-card__text">
        {{ text }}
      </div>
    {% endif %}
	</div>

  {% if link %}
    <div class="d-flex flex-column justify-content-end domain-card__bottom">
      <div class="pt-2 domain-card__link">
        <a class="o-link-arrow" href="{{ link.url }}" onmousedown="utag_link('{{ utag.titre_page|addslashes }}', '{{ utag.track_zone|addslashes }}', '{{ utag.track_title|addslashes }}', '{{ utag.track_target|addslashes }}');">
          {{ link.title }}
        </a>
      </div>
    </div>
	{% endif %}
</section>
