{# @see oab_modular_product_preprocess_paragraph__module_domains() #}
{% set logo = content.field_logo.0 %}
{% set title = content.field_teaser_title.0['#context']['value'] %}
{% set link = {
    url: path('entity.node.canonical', {'node': node.id() }),
    title: 'Read more'|t
} %}
{% set utag = {
  titre_page: node.parent_page_title,
  module_title: node.parent_module_title,
  title: node.label(),
  text: null
} %}

{%
  set classes = [
    'd-flex',
    'flex-column',
    'justify-content-center',
    'w-100',
    'p-2',
    'bg-greige',
    'text-break',
    'fullclick',
    'node--type--' ~ node.bundle|clean_class,
    'node--view-mode--' ~ view_mode|clean_class,
    'domain-card',
    'domain-card--link',
  ]
%}

<section{{attributes.addClass(classes)}}>
	<div class="d-flex flex-row align-items-center domain-card__top">
		{% if logo|length %}
			<div class="pr-md-2 domain-card__logo">
				{{ logo }}
			</div>
		{% endif %}

		{% if title|length %}
      <a class="lead domain-card__title" href="{{ link.url }}" onmousedown="utag_link('{{ utag.titre_page|addslashes }}', '{{ utag.module_title|addslashes }}', '{{ utag.title|addslashes }}', '{{ utag.text|addslashes }}');">
        <strong>{{ title|slice(0, 70) }}</strong>
      </a>
		{% endif %}
	</div>
</section>
