{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}


{%
  set classes = [
  'node',
  node.bundle|clean_class,
  view_mode ? view_mode|clean_class,
  'clearfix',
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="container-fluid-navbar"  style=" ">
    {{ content.field_caroussel_header }}
  </div>
  <div class="claim-homepage-container">
    {{ (content.field_claim) }}
    <i class="arrow-down-claim-homepage"></i>
  </div>


  <!-- Solution Zone Homepage -->
  <div class="homepage-content">

    <div class="container">

      <div class="top-zone-homepage homepage-banner-container row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 carousel-solution">
          <div class="block-card-container">
            <div class="homepage-wyziwyg">
              {{ content.field_wysiwyg_zone_1 }}
            </div>
            <div class="row display-flex">
              {% for key, news in content.field_news_top_zone if key|first != '#'  %}
                {{ news }}
              {% endfor %}
            </div>
              <div class="homepage-wyziwyg">
              {{ content.field_wysiwyg_zone_2 }}
              </div>
          </div>
        </div>

      </div>


      <!-- Expertise Zone Homepage -->
      {% if content.field_expertise_title|render|trim is not empty %}
        <div class="homepage-banner-container row">
          <div class="homepage-banner expertise-banner col-md-10 col-md-offset-1 hidden-xs hidden-sm " >

            <div class="title">
              {{ content.field_expertise_title }}
            </div>
            <div class="tabpanel-expertise">
              <ul class="nav nav-tabs nav-justified nav-stacked" id='tab-expertise-banner' role="tablist">
                {% for key, item in node.field_banner_expertise %}
                  <li role="presentation" {%  if loop.first %} class="active" {% endif %}>
                    <a href="#tab-{{ key }}" data-toggle="tab" aria-controls="tab-{{ key }}" role="tab" onmousedown="utag_link('Homepage', 'Expertises', '{{ item.entity.field_tab_title.value|raw }}', '')">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-title">
                          {{ item.entity.field_tab_title.value }}
                        </div>
                      </div>

                    </a>
                  </li>
                {% endfor %}
              </ul>
              {{ content.field_banner_expertise }}
            </div>
          </div>
        </div>
      {% endif %}

      <!-- Expertise Zone Homepage MOBILE -->

      {% if content.field_expertise_title|render|trim is not empty %}
        <div class="homepage-banner-container-mobile row">
          <div class="homepage-banner expertise-banner col-md-10 col-md-offset-1 col-xs-12" >
            <div class="title">
              {{ content.field_expertise_title }}
            </div>
            <div class="tabpanel-expertise">
              <button type="button" class="nav-tabs-dropdown btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tabs <span class="caret"></span>
              </button>

              {% for key, item in node.field_banner_expertise %}
                <div class="homepage-expertise-content-mobile paragraph-expertise">
                  {{ content.field_banner_expertise[key] }}
                </div>
              {% endfor %}

            </div>
          </div>
        </div>
      {% endif %}

      <!-- Partner Zone Homepage -->
      {% if content.field_partner_title|render|trim is not empty %}
        <div class="homepage-banner-container row">
          <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 partner-banner-container " {#style="display: none"#}>
            <div class="homepage-banner partner-banner clearfix">
              <div class="title">
                {{ content.field_partner_title }}
              </div>

              <div class="tabpanel-partner">
                {{ oab_drupal_view('homepage_partner', 'block_1') }}
                <div class="col-md-12 text-right no-padding no-margin">
                  {{ link(content.field_partners_button_text.0["#context"].value, path('view.subhomes.page_partners'),
                    {'class':'btn btn-primary btn-homepage-partners',
                      'onmousedown': 'utag_link(\'Homepage\', \'Partenaires\', \'' ~ content.field_partners_button_text.0["#context"].value|raw ~ '\', \'\')'})
                  }}
                </div>
              </div>
            </div>

          </div>
        </div>
      {% endif %}


      <!-- Corporate Zone Homepage -->
      {% if content.field_corporate_title|render|trim is not empty %}
        <div class="homepage-banner-container corporate-homepage row">
          {% set urlPartner = '' %}

          {% for key, image in content.field_corporate_image if image.entity is not null  %}
            {% set media = image.entity %}
            {% set uri = media.uri.value %}

            {% if uri is not null %}
              {% set urlPartner = file_url(uri) %}
            {% endif %}
          {% endfor %}

          <div class="col-md-12 col-xs-12 banner-bg corporate-banner" style="background: url({{ urlPartner }});">
            <div class="section-corporate">
              <div class="section-title-corporate row">
                <div class="col-md-offset-1 col-md-10">
                  <div class="col-md-5 no-padding col-sm-12 col-xs-12 " >
                    <div class="no-padding text-left title">
                      {{ content.field_corporate_title }}
                    </div>
                    <div class="clearfix"></div>
                    <div class="no-padding text-left highlight-corporate">
                      {{ content.field_corporate_highlight }}
                      <a class="btn btn-inverse btn-info" href="{{ content.field_corporate_button_link.0["#url"] }}" onmousedown="utag_link('Homepage', 'Discover', '{{ content.field_corporate_button_text.0["#context"].value|raw }}', '')">
                        {{ content.field_corporate_button_text.0["#context"].value }}
                      </a>
                    </div>

                  </div>

                  {% if content.field_corporate_show_menu %}
                    <div class="menu-right col-md-offset-3 col-md-4 col-lg-offset-4 col-lg-3 hidden-xs hidden-sm">
                      <div class="menu-title">{{ content.field_corporate_menu_title }}</div>
                      {{ oab_drupal_menu('our-regional-presence')  }}
                    </div>
                  {% endif %}

                </div>
              </div>

            </div>
          </div>

        </div>
        {% if content.field_corporate_show_menu %}
          <div class="container visible-xs visible-sm">

            <div class="menu-right col-xs-12">
              {% if content.field_corporate_menu is not null %}
                <div class="menu-title">{{ content.field_corporate_menu_title }}</div>
                {{ oab_drupal_menu('our-regional-presence')  }}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endif %}
      {% if node.field_infography.0.entity is not empty and content.field_corporate_title|render|trim is not empty %}
        <div class="homepage-banner-container infography-banner row">
          <div class="col-md-offset-1 col-md-10">
            <div class="clearfix corporate-infography-banner">
              <div class="row text-center">
                {% for key, infography in content.field_infography if key|first != '#'  %}
                  {% if key == 0 %}
                    {% set col_class = 'col-md-2 col-md-offset-1 col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-xs-12' %}
                  {% else %}
                    {% set col_class = "col-md-2 col-md-offset-0 col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 block-infography col-xs-12 " %}
                  {% endif %}
                  <div class="{{col_class}}  block-infography" >
                    {{ infography }}
                  </div>
                {% endfor %}
              </div>
            </div>

          </div>

        </div>
      {% endif %}
    </div>
  </div>
</article>
