<div class="row flex-column mx-1 my-0 p-1 bg-white teaser-product">
  <div class="col-12 ml-1 mt-1 small bg-warning font-weight-bold teaser-product-category">
    {{ content.field_product_category }}
  </div>
  <div class="col-12 lead font-weight-bold">
    {{ content.field_product_name }}
  </div>
  <h4 class="col-12 mb-2 text-break">
    {{ content.field_teaser }}
  </h4>
  <div class="col-12 d-none d-md-block">
    {{ content.field_key_points }}
  </div>
  <a class="col-12 col-md-5 mb-1 mt-auto mb-md-2 ml-md-1 btn btn-primary" href="{{ path('entity.node.canonical', {'node': node.id}) }}">
    {% trans %}See offer{% endtrans %}
  </a>
</div>
