{%
  set classes = [
    'd-flex',
    'flex-column',
    'justify-content-between',
    'align-items-stretch',
    'bg-greige',
    'p-2',
    'text-break',
    'domain-teaser',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  <div class="d-flex flex-column gap-y-1 domain-teaser__top">
    {% if content.field_logo.0 %}
      <div class="domain-teaser__logo">
        {{ content.field_logo }}
      </div>
    {% endif %}
    {% if content.field_teaser_title.0 %}
      <div class="domain-teaser__title">
        {{ content.field_teaser_title }}
      </div>
    {% endif %}
    {% if content.field_teaser.0 %}
      <div class="domain-teaser__text">
        {{ content.field_teaser }}
      </div>
    {% endif %}
  </div>
  <div class="d-flex flex-column justify-content-end domain-teaser__bottom">
    <div class="pt-2 domain-teaser__link">
      <a class="o-link" href="{{ path('entity.node.canonical', {'node': node.id() })}}">
        {{ 'Read more'|t }}
      </a>
    </div>
  </div>
</section>