{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}

{% import _self as menus %}
{% import '@theme_boosted/menus/includes/mega-menu-mobile.html.twig' as mega_menu_mobile %}
{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{{ mega_menu_mobile.menu_links_mobile(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
     {% if menu_level == 0 %}
<ul{{ attributes.addClass('menu', 'nav', 'navbar-nav', 'visible-lg') }}>
  {% else %}
  <ul{{ attributes.addClass('dropdown-menu', 'visible-lg') }}>
    {% endif %}

    {% for item in items %}
    {% set link_target = item.url.options.target ? '_blank' : '_self' %}
    {% if item.below %}
    <li{{ item.attributes.addClass('nav-item', 'dropdown') }}>
      {% set link_text %}{{ item.title }} <span class="caret"></span>{% endset %}
      {{ link(link_text, hub_getHubSubhomeUrl(item.url), {'class':'dropdown-toggle','data-toggle':'dropdown' ,'target': link_target, 'onmousedown': 'utag_link(utag_data.titre_page, \'Menu\', \'' ~ item.title ~ '\');'}) }}
      {% else %}
    <li{{ item.attributes }}>{{ link(item.title, hub_getHubSubhomeUrl(item.url), {'target': link_target, 'onmousedown': 'utag_link(utag_data.titre_page, \'Menu\', \'' ~ item.title ~ '\', \'\');'}) }}
      {% endif %}

      {% if item.below %}
        {% if item.content.field_style_template['#items'].value == 'product' %}
          <ul class="container-fluid dropdown-menu megamenu row" role="menu">
            {{ menus.product_template_mega_menu_items(item.title, item.below) }}
          </ul>
        {% elseif item.content.field_style_template['#items'].value == 'wysiwyg' %}
          <ul class="container-fluid dropdown-menu megamenu row" role="menu">
            {{ menus.wysiwyg_template_mega_menu_items(item.content, item.below, item.title) }}
          </ul>
        {% else %}
          <ul class="container-fluid dropdown-menu megamenu row" role="menu">
            {{ menus.mega_menu_items(item, item.below) }}
          </ul>
        {% endif %}
      {% endif %}
      {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}


  {% macro mega_menu_items(parent, items) %}
    <div id="items_megamenu" class="container">
      <div class="col-xs-12 item_soft_col">
        <div class="row mega_menu_soft_header">
          <h4 class="col-xs-3">{{ parent.content.field_subtitle }}</h4>
          <a class="col-xs-offset-6 col-xs-3 o-link-arrow mega_menu_global_link" href="{{ parent.content.field_global_link.0['#url'] }}">{{ parent.content.field_global_link.0['#title'] }}</a>
        </div>
      </div>
      {% for item in items %}
        {% set link_target = item.url.options.target ? '_blank' : '_self' %}
        <div class="col-xs-12 col-lg-4 item_soft_col">
          <span> {{ link(item.title, hub_getHubSubhomeUrl(item.url), {'target': link_target, 'onmousedown': 'utag_link(utag_data.titre_page, \'Menu\', \'' ~ parent.title ~ '\', \'' ~ item.title ~ '\');'}) }}</span>
          {% if item.below %}
            <ul class="sous-items">
              {% for sous_item in item.below %}
                <li>
                  {{ link(sous_item.title, hub_getHubSubhomeUrl(sous_item.url), {'target': link_target, 'onmousedown': 'utag_link(utag_data.titre_page, \'Menu\', \'' ~ parent.title ~ '\', \'' ~ sous_item.title ~'\');'}) }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endmacro %}

  {% macro wysiwyg_template_mega_menu_items(content, items, title) %}
    <div class="container items_wysiwyg_container">
      <div class="row">
      {%  if content.field_highlight.0 is defined and content.field_highlight.0['#text'] is not null %}
        <div class="col-xs-4 items_wysiwyg_part">
          <div>
            {{ content.field_highlight }}
          </div>
        </div>
        <div class="col-xs-8 items_list_wysiwyg_container">
      {% else %}
        <div class="col-xs-12 items_list_wysiwyg_container">
      {% endif %}
        {% for item in items %}
          {% set link_target = item.url.options.target ? '_blank' : '_self' %}
          <div class="col-xs-6">
            <h4 class="title_megamenu"> {{ item.title }}</h4>
            {% if item.below %}
              <ul class="sous-items">
                {% for sous_item in item.below %}
                  <li>
                    {{ link(sous_item.title, hub_getHubSubhomeUrl(sous_item.url), {'target': link_target, 'onmousedown': 'utag_link(utag_data.titre_page, \'Menu\', \'' ~ title ~ '\', \'' ~ sous_item.title ~'\');'}) }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endmacro %}

  {% macro product_template_mega_menu_items(title, items) %}
    <div class="container items_prod_container">
      <div class="row">
        <div class="items_prod_serv col-xs-4">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          {% for item in items %}
            <li role="presentation">
              <a class="items" href="{{ item.url }}" data-toggle="tab" data-target="#item-{{ loop.index }}"
                 aria-controls="item-{{ loop.index }}"
                 onmousedown="utag_link(utag_data.titre_page,'Menu','{{ title }}','{{ item.title }}')"
                 role="tab">{{ item.title }} </a>
            </li>
          {% endfor %}
        </ul>
      </div>
        <div class="tab-content sous_items_prod_serv col-xs-8">
        {% for item in items %}
          {% if item.below %}
            <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="item-{{ loop.index }}" role="tabpanel">
              <div class="row">
                <div class="en_ce_moment col-xs-6">{{ 'Key solutions'|t }}</div>
                <div class="col-xs-6 text-right">
                  <a href="{{ item.url }}"
                     onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item.title }}','track_cible':'Voir tous les produits','track_type_evt':'clic'});">{{ 'See all solutions'|t }}
                    <span class="all_product_glyphicon glyphicon glyphicon-menu-right"></span>
                  </a>
                </div>
              </div>
              <div class="row">
                {% for sous_item in item.below %}
                  <div class="sous-items col-xs-6">
                    <a href="{{ sous_item.url }}"
                       onmousedown="utag_link(utag_data.titre_page,'Menu','{{ title }}_{{ item.title }}','{{ sous_item.title }}');">{{ sous_item.title }}
                      <p class="teaser">{{ sous_item.entity.field_teaser.value }}</p>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      </div>
    </div>
  {% endmacro %}
