{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}

{% import _self as menus %}
{% import '@theme_one_i/menus/includes/mega-menu-mobile.html.twig' as mega_menu_mobile %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{{ mega_menu_mobile.menu_links_mobile(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav d-none d-lg-flex">
    {% endif %}

    {% for item in items %}
      {% if item.below %}
        <li class="nav-item nav_item_dropdown">
        <a class="nav-link collapsed" href="#mega-level-{{ loop.index }}-collapse"
           data-toggle="collapse">{{ item.title }}</a>
      {% else %}
        <li class="nav-item nav_item_dropdown">
        <a class="nav-link" href="{{ item.url }}" role="menuitem">{{ item.title }}</a>
      {% endif %}

      {% if item.below %}
        {% if item.content.field_template['#items'].value == 0  %}
          <div class="item_mega_menu mega-menu-panel collapse" id="mega-level-{{ loop.index }}-collapse">
            {{ menus.mega_menu_items(item.title, item.below) }}
          </div>

        {% else %}
          <div class="item_mega_menu mega-menu-panel collapse" id="mega-level-{{ loop.index }}-collapse">
            {{ menus.new_template_mega_menu_items(item.title, item.below) }}
          </div>
        {% endif %}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro mega_menu_items(title, items) %}
  <div class="container-fluid site-width">
    <div class="title_megamenu row">
      <p class="col-12">{{ title }}</p>
    </div>
    <div class="row mb-2">
      {% for item in items %}
        <div class="col-4">
          <a class="mb-1 nav-link sous_items" href="{{ item.url }}">{{ item.title }}</a>
          {% if item.below %}
            {% for sous_item in item.below %}
              <a class="mb-1 nav-link sous_items" href="{{ sous_item.url }}">{{ sous_item.title }}</a>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    </div>

  </div>
{% endmacro %}

{% macro new_template_mega_menu_items(title, items) %}
  <div class="container-fluid site-width">
    <div class="row">
      <div class="pt-3 pb-4 col-3 border-right border-gray4">
        <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {% for item in items %}
            <li role="presentation">
              <a class="item nav-link" href="{{ item.url }}" data-target="#item-{{ loop.index }}"
                 aria-controls="item-{{ loop.index }}" role="tab">{{ item.title }} </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="pt-3 pb-3 col-9 tab-content sous-items">
        {% for item in items %}
          {% if item.below %}
            <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="item-{{ loop.index }}"
                 role="tabpanel">
              <div class="row mb-2">
                <div class="col-6 en_ce_moment">En ce moment</div>
                <div class="col-6"><a class="o-link-arrow all_product_link" href="{{ item.url }}">Voir tous les produits </a></div>
              </div>
              <div class="row">
                {% for sous_item in item.below %}
                  <div class="col-6 py-1">
                    <a class="nav-link" href="{{ sous_item.url }}">{{ sous_item.title }}
                      <span class="nav-link">{{ sous_item.entity.field_teaser.value }}</span></a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endmacro %}
