{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 *
 * @ingroup templates
 */
#}
<section{{ attributes.addClass('block', 'clearfix') }}>

  {% block content %}
 	<div id="blockOfficesMap">
    	{{ content }}
    	
	    <!-- Affichage du formulaire de filtre -->
		<div class="formSearch">
			<form id="formSearchOffice">
				<div class="item item_region">
	    		<!-- Affichage de la liste des régions -->
					<label for="edit-area"> Region </label>
				    {% if regions %}
					    <select>
						    {% for key,region in regions %}
						    	<option value="{{ key }}">{{ region }}</option>
						    {% endfor %}
					    </select>
				    {% endif %}
			    </div>
	    		<!-- Affichage de la liste des pays -->
				<div class="item item_country">
					<label for="edit-country"> Country </label>
				    {% if regions_countries %}
				    	<select>
						    {% for country in regions_countries['all'] %}
						    	<option value={{ country }}>{{ countries_name[country] }}</option>
						    {% endfor %}
					    </select>				     
				    {% endif %}
			    </div>
		    </form>
		</div>
	<!-- div permettant l'affichage de la map -->
     <div id="map"></div>
   </div>
    <script>
    /*
    Script permettant de charger la carte sur le div
    */
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35, lng: 10},
          zoom: 2
        });
      }
    </script>
    
  {% endblock %}
</section>

