{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 *
 * @ingroup templates
 */
#}
{{ attach_library('oab_develop/oab_develop.version_bar_block')  }}
<section{{ attributes.addClass('block', 'clearfix', 'block-versionbar', elements.content.env|lower,'fixed-version-bar') }}>
  {% block content %}
    <div class="version-bar-table">
      <div>Environnement : </div>
      <div class="version-bar-cell version-bar-text-bold">{{ elements.content.envLabel }}</div>
      <div> | Version : </div>
      <div class="version-bar-cell version-bar-text-bold">{{ elements.content.version }}</div>
      <div> | Thème : </div>
      <div class="version-bar-cell version-bar-text-bold">{{ elements.content.theme }}</div>
      {% if elements.content.message != '' %}
        <div> | </div>
        <div class="version-bar-cell version-effet-glow">{{ elements.content.message }}</div>
      {% endif %}
      {% if elements.content.ci_datas != '' %}
        {% if elements.content.ci_datas['CI_PIPELINE_ID'] != '' and elements.content.ci_datas['CI_PIPELINE_URL'] != '' %}
          <div> | Pipeline Id</div>
          <div class="version-bar-cell version-bar-text-bold">
            <a href="{{ elements.content.ci_datas['CI_PIPELINE_URL'] }}" target="_blank">
            {{ elements.content.ci_datas['CI_PIPELINE_ID'] }}
            </a>
          </div>
        {% elseif elements.content.ci_datas['CI_PIPELINE_ID'] != ''%}
          <div> | Pipeline Id</div>
          <div class="version-bar-cell version-bar-text-bold">{{ elements.content.ci_datas['CI_PIPELINE_ID'] }}</div>
        {% endif %}

        {% if elements.content.ci_datas['CI_PROJECT_URL'] != '' and elements.content.ci_datas['CI_COMMIT_SHA'] != '' %}
          <div> | Commit : </div>
          <div class="version-bar-cell ">
            <a href="{{ elements.content.ci_datas['CI_PROJECT_URL'] ~ '/-/commit/' ~ elements.content.ci_datas['CI_COMMIT_SHA']}}" target="_blank">
              {% if elements.content.ci_datas['CI_COMMIT_MESSAGE'] != '' %}
                {{ elements.content.ci_datas['CI_COMMIT_MESSAGE'] ~ ' - ' }}
              {% endif %}
              {% if elements.content.ci_datas['CI_COMMIT_TIMESTAMP'] != '' %}
                {{ elements.content.ci_datas['CI_COMMIT_TIMESTAMP'] }}
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% endblock %}
</section>


