
{% set input_name = "radio-" ~ id %}

<div class="formule-field field--list" id="{{ "formule-field-list-" ~ id }}" data-type="list" data-target="{{ id }}" data-input-name="{{ input_name }}">

  <span class="h1">{{ display_label }}</span>
  <p>{{ description }}</p>

  <ul class="items-list" aria-label="{{ "List of choices for @label"|t({'@label': id}) }}">
    {% for choice, choice_label in choices %}
      {{ _self.input(choice, choice_label, input_name) }}
    {% endfor %}
    {% if has_null_value %}
      {{ _self.input(constant('NULL_ID', elements['#formule_field']), null_label, input_name) }}
    {% endif %}
  </ul>
  <button class="btn btn-primary formule-submit" disabled>{{ "Next"|t }}</button>
</div>


{% macro input(value, label, name) %}
  {% set input_id = "formule-field-chips-" ~ value %}
  {% set input_label_id = "formule-field-chips-label-" ~ value %}

  <li>
    <div class="items-list-item">
      <div class="item-container item-container-sm">
        <div class="custom-control custom-radio">
          <input
            type="radio" id="{{ input_id }}"
            aria-labelledby="{{ input_label_id }}"
            name="{{ name }}"
            class="custom-control-input"
            value="{{ value }}">
          <label aria-hidden="true" class="custom-control-label" for="{{ input_id }}"></label>
        </div>
        <label id="{{ input_label_id }}" for="{{ input_id }}" class="item-text">
          <span>{{ label }}</span>
        </label>
      </div>
    </div>
  </li>

{% endmacro %}
