{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{% if attributes -%}
<div{{ attributes }}>
    {% endif %}
    {% if title %}
        <h3>{{ title }}</h3>
    {% endif %}

    <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
        {%
        set row_classes = [ default_row_class ? 'views-row', 'views-row-' ~ loop.index,
        ]
        %}
        <li{{ row.attributes.addClass(row_classes) }}>
            {{ row.content }}

            {% set regionName = row.content["#row"]._entity.field_region[0].get('entity').getValue().get('name').value %}
            {% if row.content["#row"]._entity.field_region[0] is not empty
                and row.content["#row"]._entity.field_region[0].get('entity').getValue().get('field_linked_content')[0] is not empty %}
                {% set regionPage_nid = row.content["#row"]._entity.field_region[0].get('entity').getValue().get('field_linked_content')[0].value['target_id'] %}
                {% set regionPage_url = path( 'entity.node.canonical', {'node': regionPage_nid}) %}
                <div class="">
                    <a class="text-primary lead" href="{{ nodeAbsoluteUrl('entity.node.canonical',regionPage_nid, true) }}">{{ regionName }}</a>
                </div>
            {% endif %}
        </li>
    {% endfor %}

</{{ list.type }}>

{% if attributes -%}
    </div>
{% endif %}
