{% if not is_numerical %}
  <div class="row mt-1">
    {% if content.field_icon.0['#context']['value'] is not null  %}
      <div class="col-12 my-2">
        <span class="icon icomoon {{ content.field_icon.0['#context']['value']|token_replace }} text-primary bg-gray2 rounded-circle benefits-item-icon" aria-hidden="true"></span>
      </div>
    {% endif %}
    <div class="col-12">
        <h3 class="lead font-weight-bold mb-0">
          {{ content.field_title }}
        </h3>
        <span class="text-gray3 pt-O">
        {{ content.field_description }}
      </span>
        {% if content.field_redirection_url[0]['#url']|length > 0 %}
          <a href="{{ content.field_redirection_url[0]['#url'] }}"
             class="o-link-arrow mt-1 mt-md-2"
          >
            {{ 'More information'|t }}
          </a>
        {% endif %}
    </div>
  </div>
{% else %}
  <div class="row mt-2">
    {% if content.field_icon.0['#context']['value'] is not null  %}
      <div class="col-12 d-flex justify-content-md-center my-2">
        <span class="icon icomoon {{ content.field_icon.0['#context']['value']|token_replace }} text-primary bg-gray2 rounded-circle benefits-item-icon" aria-hidden="true"></span>
      </div>
    {% endif %}
    <div class="col-12">
      <div class="benefits-numerical-item-container">
        <h3 class="mb-0">
          {{ content.field_title }}
        </h3>
        <span class="lead text-gray3 pt-0 px-md-2">
        {{ content.field_description.0 }}
      </span>
        {% if content.field_redirection_url[0]['#url']|length > 0 %}
          <a href="{{ content.field_redirection_url[0]['#url'] }}"
             class="o-link-arrow mt-1 mt-md-2"
          >
            {{ 'More information'|t }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
