{% block content %}
  {% if content.field_video.0 %}
      <div class="col-12 col-md-6 order-last order-md-first mt-auto">
        {{ content.field_video }}
      </div>
      <div class="col-12 col-md-5 align-self-md-center order-first order-md-last mb-2 mb-md-0">
  {% else %}
    <div class="col-12 col-md-8 offset-md-1">
  {% endif %}

      <h3 class="lead text-gray3 mb-1">{{ content.field_title }}</h3>
      <span class="h4 font-weight-bold">{{ content.field_highlight }}</span>
      {% if content.field_testimonial_link.0["#url"] %}
        <a class="o-link-arrow mt-2"
           href="{{ content.field_testimonial_link.0["#url"] }}"
           onmousedown="utag_link(utag_data.titre_page,'temoignages',
             '{{ content.field_title.0['#context']['value']|escape('html') }}',
             '{{ "Read the customer story"|t }}')"
        >
          {{ "Read the customer story"|t }}
        </a>
      {% endif %}
    </div>
  {% endblock %}

