{% block paragraph %}
  <div id="temoignages" {{ attributes.addClass("py-3", "py-md-5") }}>
    {% block content %}
      <div class="site-width">
        <div class="container-fluid">
          <span class="small font-weight-bold text-gray3 ">{{ module_title|t }}</span>
          <div class="custom-slider">
            <div class="row justify-content-between align-items-center mb-4">
              <div class="col-12 col-md-7">
                <h2 class="h1 pb-0 mb-0">{{ content.field_title }}</h2>
              </div>

              {% set total_items = content.field_testimonial['#items']|length %}

              {% if total_items >= 2 %}
                <div class="col-md-2 d-none d-md-inline-flex justify-content-end slider-controller">
                  <div  class="lead font-weight-bold align-self-center mr-2">
                    <span class="current-step-slider">1</span><span>/{{ total_items }}</span>
                  </div>
                  <button class="btn btn-secondary" type="button" data-direction="left"><span
                      class="icon icon-arrow-previous" aria-hidden="true"></span></button>
                  <button class="btn btn-secondary" type="button" data-direction="right"><span
                      class="icon icon-arrow-next" aria-hidden="true"></span></button>
                </div>
              {% endif %}
            </div>

            {{ content.field_testimonial }}

          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
