{% block content %}
  {% if nb_testimonial == 1 %}
    {% if content.field_video.0 %}
      <div class="col-12 col-md-6 mt-3 mt-md-0">
        {{ content.field_video }}
      </div>
      <div class="col-12 col-md-5 offset-md-1">
    {% endif %}
        <div class="row">
          <div class="col-12 lead text-gray3 pb-1">
            {{ content.field_title }}
          </div>
          <div class="col-12 pb-md-1">
            <h4 class="font-weight-bold">{{ content.field_highlight }}</h4>
          </div>
          <div class="col-12">
            <a class="o-link-arrow no-decoration" href="{{ content.field_testimonial_link.0["#url"] }}">{{ "Read the customer story"|t }}</a>
          </div>
        </div>
    {% if content.field_video.0 %}
      </div>
    {% endif %}
  {% else %}
      <div class="row">
        <div class="col-12 lead text-gray3 pb-1">
          {{ content.field_title }}
        </div>
        <div class="col-12 pb-md-1">
          <h4 class="font-weight-bold">{{ content.field_highlight }}</h4>
        </div>
        <div class="col-12">
          <a class="o-link-arrow no-decoration" href="{{ content.field_testimonial_link.0["#url"] }}">{{ "Read the customer story"|t }}</a>
        </div>
      </div>
  {% endif %}
{% endblock %}

