<article class="page-synomia-search-results">
<div class="region region-content" >
    <div class='col col-md-12 col-sm-12'>
        <div class='col-lg-3 col-md-12 col-sm-12'>

        </div>
        <div class="search_form col-lg-9 col-md-12 col-sm-12">
            {% if searchForm %}
                {{ searchForm }}
            {% endif %}
        </div>
    </div>
    <div class="block_principal_results col-lg-12 col-md-12 col-sm-12">

        {% if nbResults > 0 %}
            <span class="nbResults">{{ resultLabel }} <strong>{{ currentSearch }}</strong>: </span>

            {# FILTRES / FACETS#}
            <div class='block-facetapi col-lg-3 col-md-12 col-sm-12'>
                <div class='filters_title'>
                    <span> {{ 'Sort by'|t }}:</span>
                    <span aria-hidden="true" class="glyphicon glyphicon-plus icon_nav" data-target="#search-form" data-toggle="collapse"></span>
                    <span aria-hidden="true" class="glyphicon glyphicon-minus icon_nav" data-target="#search-form" data-toggle="collapse"></span>
                </div>

                <div class='item-list'>
                    <ul class="facetapi">
                        {% for type, facet in facets %}
                            {% if facet.nbresults > 0 %}
                            <li class='leaf'><a href="{{ path(search_route_path, {'rubrique': type, 'mot': currentSearch }) }}">{{ facet.facetName|t }} ({{ facet.nbresults }})</a> </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    {% if searchMode == 'rubrique' %}
                        <div class="all_results"><a href="{{ path(search_route_path, { 'mot': currentSearch }) }}">{{ 'See all results'|t }}</a></div>
                    {% endif %}
                </div>
            </div>

            <div class="results_block col-lg-9 col-md-12 col-sm-12">
                {# RESULTATS #}
                {% for cluster in searchResults %}
                    {% if cluster.nbResults >0 %}
                        <div class="results_cluster">
                            <div class="cluster_name"> {{ cluster.typeName|t }} ({{ cluster.nbResults }})</div>
                            <ul class="results-list">
                                {% for result in cluster.results %}
                                    {% if (loop.index < 4 and searchMode == 'global') or searchMode == 'rubrique'%} {# affichage que de 3 resultats #}
                                    <li>
                                        <a href='{{ result.URL }}'>

                                        <div class="title">{{ result.title|split('|')[0] }}</div>
                                        <div class="description">{{ result.description }}...</div>
                                        <div class="read_more">
                                                    <span class="btn btn-rounded">
                                                        <span aria-hidden="true" class="glyphicon glyphicon-menu-right icon_nav" data-target="#search-form" data-toggle="collapse"></span>
                                                    </span>
                                        </div>
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% if searchMode == 'global' and cluster.nbResults > 3 %}
                                <div class="cluster_link_more">
                                    <a href="{{ path(search_route_path, {'rubrique': cluster.typeId , 'mot': currentSearch }) }}">{{ 'More'|t }}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% if currentSearch %}
                <span class="nbResults"> {{ nbResults }} {{ 'result'|t }} {{ 'for'|t }} <strong>{{ currentSearch }}</strong></span>

                {# CORRECTIONS #}
                {% if corrections %}
                    <div class="corrections">
                        <span class="title_corrections">{{ 'Spelling suggestions'|t }}:</span>
                        <ul>
                        {% for correction in corrections %}
                            <li> <a href="{{ path(search_route_path, {'mot': correction }) }}">{{ correction }}</a> </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {# DEGRADATIONS #}
                {% if degradations %}
                    <div class="degradations">
                        <span class="title_degradations">{{ 'Some terms of your search contain results'|t }}:</span>
                        <ul>
                            {% for terme, nbResult in degradations %}
                                <li> <a href="{{ path(search_route_path, {'mot': terme }) }}">{{ terme }}</a> : {{ nbResult }} {{ 'results'|t }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
</article>
