{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 *
 * @ingroup templates
 */
#}

{# Je n'affiche la contact bar que si un des 3 champs est rempli #}
{% if (content.link_assistance|length or content.link_ecrire|length or content.tel_number|length) %}
<section data-spy="affix" {{ attributes.addClass('block', 'block-contactbar', 'clearfix', 'contactBarAffix') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
   {# affiche le contenu saisi dans le back office: #}



      <div id="contactbar-container-standard" class="container hidden">
        <div class="row">

            <div class="col-lg-2 col-md-9 col-sm-9 col-xs-9 nopadding iconblock">
                {% if content.link_assistance|length %}
                    <a href="{{ content.link_assistance }}">
                        <span class="{{ content.assistance_icon }} solaris-contactbar hidden-xs hidden-sm"></span>
                        <div class="link-contactbar"><span class="textlink-contactbar">{{ content.link_assistance_text }}</span></div>
                     </a>
                {% endif %}
            </div>
            <div class="col-sm-3 col-xs-3 hidden-lg nopadding" style="text-align: right;">
                <div class="glyphicon glyphicon-triangle-top textlink-contactbar collapseContactBar" role="button"></div>
            </div>

            <div class="col-lg-4 col-md-12 col-xs-12 nopadding">
                {% if content.tel_number|length %}
               <span class="wrapper_numero" style="display: inline-block; background-color: white; ">
                   <span class="numero" style="color: black; font-weight: bold; font-size: 2.8rem; padding: 0.5rem;"><a href="tel:{{ content.tel_number }}">{{ content.tel_number_affichage }}</a></span>
                    <span class="text text-align-left" style="display: inline-block; background-color: black; margin-right: 1rem; font-size: 1.2rem; padding: 0.7rem 1rem 0.7rem 2rem; position: relative;">
                        <span class="glyphicon glyphicon-play" style="color: white; display: inline-block; position: absolute; left: -1rem; top: 1rem; font-size: 3rem;"></span>
                        Service & appel <br/> gratuits
                    </span>
                </span>
                {% endif %}
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 nopadding iconblock">
                {% if content.link_ecrire %}
                    <a href="{{ content.link_ecrire }}">
                        <span class="{{ content.ecrire_icon }} solaris-contactbar hidden-xs hidden-sm"></span>
                        <div class="link-contactbar"><span class="textlink-contactbar">{{ content.link_ecrire_text }}</span></div>
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 hidden-sm hidden-xs hidden-md nopadding arrow-contactbar" style="text-align: right;">
                <div class="glyphicon glyphicon-triangle-top textlink-contactbar collapseContactBar" role="button"></div>
            </div>
            <div class="clear"></div>
         </div>
    </div>
  {% endblock %}
</section>

{% endif %}