{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
<nav class="pt-1" aria-label="Fil d'Ariane">
  <ol class="breadcrumb m-0" data-ob1-component="Breadcrumb">
    {% for item in breadcrumb %}
      <li class="breadcrumb-item m-0 p-0">
        {% if item.url %}
          <a href="{{ item.url }}"
             onmousedown="utag_link(utag_data.titre_page,'breadcrumb','{{ item.text|escape('html') }}','{{ item.url }}')">
            {{ item.text }}
          </a>
        {% else %}
          <span class="bold">{{ item.text }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
