{% block paragraph %}
  <div {{ attributes.addClass('card', 'border-bottom', 'border-light', 'row', 'mx-0') }}>
    <div class="card-header col-12">
      <a id="detail-{{ elements['#paragraph'].id() }}" class="collapsed" data-toggle="collapse" data-target="#collapseDetail-{{ elements['#paragraph'].id() }}" href="#collapseDetail-{{ elements['#paragraph'].id() }}" aria-expanded="false" role="button">
        <div class="accordion-card-title">
          <div class="accordion-title text-decoration-none">
            {{ elements.field_question }}
          </div>
          <span class="accordion-icon" aria-hidden="true"></span>
        </div>
      </a>
    </div>
    <div id="collapseDetail-{{ elements['#paragraph'].id() }}" class="collapse col-12 px-0" aria-labelledby="detail-{{ elements['#paragraph'].id() }}" data-parent="#formulePackageDetailAccordion" role="region">
      <div class="accordion-card-body standard">
        {{ elements.field_answered }}
      </div>
    </div>
  </div>
{% endblock %}
