{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  <div class="top-block-search-form">
  {{ children }}
  </div>

    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
</form>
