<div class="container">

    {% for key, country in zones.items %}

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ key }}">
                    <h5 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}" aria-expanded="true" aria-controls="collapse{{ key }}" class="collapsed">{{ country.id }} : {{ country.code }} >>> {{ country.label }} </a>
                    </h5>
                </div>

                <div id="collapse{{ key }}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading{{ key }}">
                    <div class="panel-body">


                        <div class="col-sm-6">
                            {%  if country.code == "TRAVEL" %}
                                <img class="image_pannel" src="/modules/custom/oab_orange_business_lounge/images/visuel_travel.jpg" />
                            {% endif %}

                            {%  if country.code == "BUSINESS" %}
                                <img class="image_pannel" src="/modules/custom/oab_orange_business_lounge/images/visuel_business.jpg" />
                            {% endif %}

                            {%  if country.code == "HZONE" %}
                                <img class="image_pannel" src="/modules/custom/oab_orange_business_lounge/images/visuel_restedumonde.jpg" />
                            {% endif %}

                            {%  if country.code == "SATEL" %}
                                <img class="image_pannel" src="/modules/custom/oab_orange_business_lounge/images/visuel_satellite.jpg" />
                            {% endif %}

                            {%  if country.code == "UE" %}
                                <img class="image_pannel" src="/modules/custom/oab_orange_business_lounge/images/visuel_europe.jpg" />
                            {% endif %}

                            {%  if country.code == "SA" %}
                                <img class="image_pannel" src="/modules/custom/oab_orange_business_lounge/images/visuel_suisse_andorre.jpg" />
                            {% endif %}
                        </div>


                        <div class="col-sm-6">
                            <ul>
                                {% for key, myRoaming in country.roamingCharges %}
                                    <li><h6>{{ key }} : {{ myRoaming }}</h6></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <table class='table table-striped'>
                            <thead>
                                <tr class="header_col">
                                    <th>calling</th>
                                    <th>sendingSms</th>
                                    <th>sendingMms</th>
                                    <th>forwardingCall</th>
                                    <th>zoneId</th>
                                    <th>zoneCode</th>
                                </tr>
                            </thead>

                            {% for myRoamingChargesToZones in country.roamingChargesToZones %}
                                <tr>
                                    <td><h6>{{ myRoamingChargesToZones.calling }}</h6></td>
                                    <td><h6>{{ myRoamingChargesToZones.sendingSms }}</h6></td>
                                    <td><h6>{{ myRoamingChargesToZones.sendingMms }}</h6></td>
                                    <td><h6>{{ myRoamingChargesToZones.forwardingCall }}</h6></td>
                                    <td><h6>{{ myRoamingChargesToZones.zoneId }}</h6></td>
                                    <td><h6>{{ myRoamingChargesToZones.zoneCode }}</h6></td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>

            </div>

        </div>

    {% endfor %}

</div>



