{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup templates
 */
#}

{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-12">
      <div class="row subhome-view-press">
        {# Contenu principal #}
        {% if header %}
          <div class="view-header">
            {{ header }}
          </div>
        {% endif %}
        {% if exposed %}
          <div class="view-filters form-group">
            {{ exposed }}
          </div>
        {% endif %}

        {% if rows %}
          <div class="view-content">
            {{ rows }}
          </div>
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}

        {% if pager %}
          {{ pager }}
        {% endif %}

        {% if rows %}
          <div class="archives_link">
            <a href="{{ path('view.subhomes_archive.archive_press') }}"
               class="btn btn-info">{{ 'More press release'|t }}</a>
          </div>
        {% endif %}
      </div>

      <div class="row subhome-view-news">
        {{ drupal_view('subhomes', 'news') }}
      </div>

      {# Blocks du bas (press-kits + Coroporate #}
      <div class="row subhome-entity-bottom-blocks">

        {# Press kit #}
        <div class="col-sm-8 col-xs-12 block-press-kit-carousel">
          <div id="carousel-press-kit" class="carousel slide" data-interval="false" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              {% for key, press_kit in subhome_entity.press_kit %}
                <div class="item {% if key == 0 %}active{% endif %}">
                  <div class="carousel-caption">
                    {{ press_kit }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-press-kit" role="button" data-slide="prev">
              <span class="glyphicon icon-arrow-previous" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-press-kit" role="button" data-slide="next">
              <span class="glyphicon icon-arrow-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        {# corporate #}
        <div class="col-sm-4 col-xs-12">
          {# si j'ai un visual, je le met en bg, sinon c'est l'aplat qui est mis #}
          {% if subhome_entity.fields.field_corporate_visual | length > 0 %}
          {% set img_uri = "" %}
          {% for key, image in subhome_entity.fields.field_corporate_visual %}
            {% if image.entity %}
              {% set media = image.entity %}
              {% set file = media.field_image.entity %}
              {% set img_uri = file_url(file.uri.value) %}
            {% endif %}
          {% endfor %}
          <div class="block-corporate" style="background-image: url({{ img_uri }})">
            {% else %}
            <div class="block-corporate {{ subhome_entity.fields.field_corporate_aplat.0.value }}">
              {% endif %}
              <a href="{{ subhome_entity.fields.field_corporate_url.0.getUrl() }}">
                {{ subhome_entity.fields.field_corporate_title.0.value }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
     {% if attachment_before %}
        <div class="attachment attachment-before">
            {{ attachment_before }}
        </div>
    {% endif %}
  </div>
