<div class="mb-1">
{% for item in items %}
  <div class="d-flex align-items-center">
    <span class="icon icon-Link" aria-hidden="true"></span>
    <span class="ml-1 ">
    <a href="{{ item.content['#url'] }}"
       onmousedown="utag_link(utag_data.titre_page,'{{ track_zone|escape('html') }}' ,'{{ track_nom|escape('html') }}','{{ item.content['#title']|escape('html') }}')"
    >{{ item.content['#title'] }}</a>
    </span>
  </div>
{% endfor %}
</div>
