

{% set defaultDelay = 10 %}
<div class="example-items row" data-delay="{{ defaultDelay }}">
  {% if 1 == items|length %}
    {% for item in items %}
      <div{{ item.attributes.addClass() }}>{{ item.content }}</div>
    {% endfor %}

  {% else %}
    <div class="col-12 col-md-10">
      <div class="row example-titles progress-indicator align-items-stretch">
        {% for key, item in items %}
          <a
            class="col"
            data-index="{{ key }}"
            onmousedown="utag_link(utag_data.titre_page,'exemples' ,'navbar','{{ item.content['#paragraph'].field_title.value|escape('html') }}')"
          >

            <div class="example-progress-bar">
                <div class="ob1-progress-bar-determined bg-dark d-none" data-ob1-component="ProgressBarDetermined"
                     data-timer={{ defaultDelay }}></div>
                <hr class="separator separator-width separator--gray3">
            </div>

            <div class="example-title mt-1 d-none d-md-block">
               {{ "%02d"|format(key+1) }}. {{ item.content['#paragraph'].field_title.value }}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="col-12 px-0">
      <div class="row example-content mx-0 mt-1 mt-md-4">
        {% for key, item in items %}
          <div class="col-12 px-0" data-index="{{ key }}"> {{ item.content }} </div>
        {% endfor %}
      </div>
    </div>

  {% endif %}
</div>
