{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}

{% if 1 == items|length %}
  <div{{ attributes.addClass(classes,"container-fluid", "site-width", "row", "my-4", "position-relative") }}>
    {% if items.0.content["#paragraph"].field_video|length != 1 %}
      <img class="testimonial-left-img" src="/themes/theme_one_i/assets/image/Illustrations-temoignagnes.png" alt="illustration temoignage left">
      <div class="col-9 offset-3">
    {% else %}
      <div class="col-12">
    {% endif %}
        <div class="row">
          {{ items.0.content }}
        </div>
    </div>
  </div>
{% else %}
  <div class="row container-fluid site-width position-relative my-4 pr-0">
    <img class="testimonial-left-img" src="/themes/theme_one_i/assets/image/Illustrations-temoignagnes.png" alt="illustration temoignage left">
    <div class="col-9 offset-3 pr-0">
      <div class="row overflow-auto testimonial-item-container slider-container">
        {% for item in items %}
          {% if loop.first %}
            <div {{ item.attributes.addClass('field--item', 'col-5', 'px-0') }}>
              {{ item.content }}
            </div>
          {% else %}
            <div {{ item.attributes.addClass('field--item', 'col-5', 'offset-1', 'px-0') }}>
              {{ item.content }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
