{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}

<div{{ attributes.addClass(classes, 'row', 'benefits-item-container') }}>
  {% for item in items %}

    {% set parent = item.content['#paragraph'].getParentEntity() %}
    {% if parent.field_numericals_benefits %}
      {% set is_numerical = parent.field_numericals_benefits.0.value %}
    {% endif %}

    {% if 4 == items|length %}
      {% if not is_numerical %}
        <div{{ item.attributes.addClass('field--item', 'col-10', 'col-md-3', 'benefits-subitem-container') }}>{{ item.content }}</div>
      {% else %}
        <div{{ item.attributes.addClass('field--item', 'col-7', 'col-md-3', 'benefits-subitem-container') }}>{{ item.content }}</div>
      {% endif %}
    {% else %}
      {% if not is_numerical %}
        <div{{ item.attributes.addClass('field--item', 'col-10', 'col-md-4', 'benefits-subitem-container') }}>{{ item.content }}</div>
      {% else %}
        <div{{ item.attributes.addClass('field--item', 'col-7', 'col-md-4', 'benefits-subitem-container') }}>{{ item.content }}</div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
