{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}
<div class="clearfix o-footer-top">

    {{ menus.menu_links(items, attributes, 0) }}

</div>

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% set isDivAndUl = false %}
        {% for item in items %}
            {% set isDivAndUl = false %}
            {% set link_target = item.url.options.target ? '_blank' : '_self'  %}
            {% if menu_level == 0 %}
                <div{{ attributes.addClass('col-xs-12', 'col-sm-6', 'col-md-2', 'nopadding') }}>
                <ul>
                {% set isDivAndUl = true %}
                <h2{{ item.attributes.addClass('footer_link_title') }}>
                    {{ link(item.title, hub_getHubSubhomeUrl(item.url), {'target': link_target, 'class': ('bg_black'), 'onmousedown': 'utag_link(utag_data.titre_page, \'Footer\', \'Liens\', \'' ~ item.title ~ '\');'}) }}
                </h2>
            {% else %}
                <li{{ item.attributes }}>
                    {{ link(item.title, hub_getHubSubhomeUrl(item.url), {'target': link_target, 'onmousedown': 'utag_link(utag_data.titre_page, \'Footer\', \'Liens\', \'' ~ item.title ~ '\');'}) }}
                </li>
            {% endif %}
            {% if item.below %}
                {{ menus.menu_links(item.below, attributes.removeClass('nav'), menu_level + 1) }}
            {% endif %}
            {% if isDivAndUl %}
                </ul>
                </div>
            {% endif %}
        {% endfor %}
        {# </ul>
         </div> #}
    {% endif %}

{% endmacro %}
