{% macro menu_links_mobile(items, attributes, menu_level) %}
  {% if items %}
    <div class="mega-menu-mobile hidden-lg">
      <ul class="main-items-menu" data-menu-level="0">
        <div class="welcome_text">
          <p>{{ "Welcome on international website"|t }} </p>
        </div>
        {{ _self.menu_row(items, 0) }}
      </ul>
    </div>
  {% endif %}
{% endmacro %}


{% macro menu_row(items, menu_level, item_parent = null) %}
  {% for item in items %}
    <li class="items-mobile-{{ menu_level }}" >
      {% if item.below %}
        {% if menu_level == 0 %}
          <a class="o-link-arrow beyond" data-menu-level-target="{{ menu_level + 1 }}"
             onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_cible':'{{ item.title }}','track_type_evt':'clic'})">
            {{ item.title }}
          </a>
        {% else %}
          <a class="o-link-arrow beyond" data-menu-level-target="{{ menu_level + 1 }}"
             onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item_parent }}','track_cible':'{{ item.title }}','track_type_evt':'clic'})">
            {{ item.title }}
          </a>
        {% endif %}

        <ul class="items-mobile hidden" data-menu-level="{{ menu_level + 1 }}">
          <li class="items-mobile-back previous">
            <a class="o-link-arrow back" data-menu-level-target="{{ menu_level }}">
              {{ item.title }}
            </a>
          </li>

          {% if menu_level == 1 %}
            <li>
              <a class="o-link-arrow all-product-link-mobile" href="{{ item.url }}"
                 onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item.title }}','track_cible':'{{ "See all solutions" | t }}','track_type_evt':'clic'});">
                {{ "See all solutions" | t }}
              </a>

              <p class="en-ce-moment-mobile">{{ "Key solutions" | t }}</p>

            </li>
          {% endif %}

          {% if menu_level == 0 %}
            {% if item.content.field_style_template['#items'].value == 'product' %}
              {{ _self.menu_row(item.below, menu_level + 1, item.title) }}
            {% elseif item.content.field_style_template['#items'].value == 'wysiwyg' %}
              {{ _self.wysiwyg_template(item.below, menu_level + 1, item.title, item.content) }}
            {% else %}
              {{ _self.soft_template(item.below, item.title, item.content) }}
            {% endif %}
          {% else %}
            {{ _self.menu_row(item.below, menu_level + 1, item.title) }}
          {% endif %}

        </ul>

      {% else %}
        {% if item.entity.field_teaser.value is empty %}
            <a class="o-link-arrow" href="{{ item.url }}"
               onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_cible':'{{ item.title }}','track_type_evt':'clic'})"> {{ item.title }} </a>
        {% else %}
          <a class="items-level-{{ menu_level + 1 }}" href="{{ item.url }}"
             onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item_parent }}','track_cible':'{{ item.title }}','track_type_evt':'clic'});">{{ item.title }}
            <p class="field-teaser-mobile"> {{ item.entity.field_teaser.value }} </p>
          </a>
          <hr class="separateur">
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}


{% macro wysiwyg_template(items, menu_level, item_parent = null, content) %}
  <div class="row">
    {%  if content.field_highlight.0 is defined and content.field_highlight.0['#text'] is not null %}
      <div class="col-xs-12 no-padding">
        <div class="mobile-highlight">
          {{ content.field_highlight }}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="items_list_link_container">
    {% for item in items %}
        <h4 class="items_list_link_title no-margin">
          <a href="{{ item.url }}" class="o-link {% if loop.index == 1 %} no-top-border  {% endif %}"
             onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item_parent }}','track_cible':'{{ item.title }}','track_type_evt':'clic'})">{{ item.title }} </a>
        </h4>
        {% if item.below %}
          {% for item in item.below %}
            <a href="{{ item.url }}" class="o-link"
               onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item_parent }}','track_cible':'{{ item.title }}','track_type_evt':'clic'})">{{ item.title }} </a>
          {% endfor %}
        {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{# Gestion du cas "old template" ou tous les items sont à la suite, malgré 2 sous-niveaux   #}
{% macro soft_template(items, item_parent, content) %}
  <li class="mobile_soft_list">
    <a class="global-link-mobile o-link-arrow" href="{{ content.field_global_link.0['#url'] }}">{{ content.field_global_link.0['#title'] }}</a>
    <h4>{{ content.field_subtitle }}</h4>
    {% for item in items %}
      {% if item.below %}
      <ul class="items_list_link no-padding no-margin">
        <a href="{{ item.url }}"
           onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item_parent }}','track_cible':'{{ item.title }}','track_type_evt':'clic'})">{{ item.title }} </a>
      {% for item in item.below %}
        <a href="{{ item.url }}"
           onmousedown="utag_link({'track_page':utag_data.page_title,'track_zone':'Menu','track_nom':'{{ item_parent }}','track_cible':'{{ item.title }}','track_type_evt':'clic'})">{{ item.title }} </a>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
  </li>
{% endmacro %}



