<div class="node-axiome-know-more">
    <div class="col col-md-12 nopadding">
        <h2 class="titre2">En savoir plus</h2>
    </div>
    <div class="col col-md-12 nopadding">
        <ul>
            {% for item in axiomeDocs.doc %}
                {% if item.type  == 'doc'%}
                    <li><span class="icon-document_stack"></span> <a href="{{ item.url|url_clean_prefix }}" target="_blank"><span class="downloadPDF">{{ item.Attributes.name }}</span></a></li>
                {% elseif item.type  == 'url'%}
                    <li><span class="icon-internet"></span> <a href="{{ item.url|url_clean_prefix }}" target="_blank"><span class="downloadPDF">{{ item.Attributes.name }}</span></a></li>
                {% elseif item.type  == 'video_externe'%}
                    <li><span class="icon-video"></span><a href="{{ item.url|url_clean_prefix }}" target="_blank"><span class="downloadPDF"> {{ item.Attributes.name }}</span></a></li>
                {% elseif item.type  == 'image'%}
                    <li><span class="icon-image"></span> <a href="{{ item.url|url_clean_prefix }}" target="_blank"><span class="downloadPDF">{{ item.Attributes.name }}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>