<div class="node-axiome-simple-content">
    <div class="col col-md-12 nopadding">
        <h2 class="titre2">{{ field_simple_content.intertitle }}</h2>
        <div>{{ field_simple_content.video }}</div>
        <div>{{ field_simple_content.promo }}</div>
        <div>{{ field_simple_content.tableau }}</div>
        <p class="highlight1">{{ field_simple_content.free_text1 }}</p>
        <p class="highlight1">{{ field_simple_content.free_text2 }}</p>
        <p class="highlight1">{{ field_simple_content.free_text3 }}</p>
        <p class="highlight1">{{ field_simple_content.free_text4 }}</p>
        <p class="highlight1">{{ field_simple_content.free_text5 }}</p>
    </div>
</div>