{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

    <div class="local_nav sub_local_menu container-fluid" id="local_nav">
        <div class="container">
            <ul>
                <li><a href="#zone1">Plans</a></li>
                <li><a href="#zone1" class="active">Pay monthly</a></li>
                <li><a href="#zone2">Pay as you go</a></li>
                <li><a href="#zone2">Top up Pay as you go</a></li>
                <li><a href="#zone3">SIM only for phone</a></li>
                <li><a href="#zone3">Free SIM</a></li>
                <li><a href="#zone4">Data SIM</a></li>
            </ul>
        </div>
    </div>

    <div class="row obs_template two_columns_66_33">
        <div class="col-md-8 col-sm-12">
            <h2>Cyberdefense : détecter les nouvelles menaces et maîtriser plus rapidement les risques</h2>

            <p><strong>La transformation numérique est un levier majeur de croissance. Dans un monde ultra-connecté où les données sont échangées massifement et en permanence, les entreprises doivent, en investissant dans les technologies de l'information, se protéger des cybermenaces qui s'intensifient et revêtent des formes de plus en plus complexes et sophistiquées.</strong></p>
        </div>
    </div>

    {% include 'themes/theme_boosted/templates/nodes/socialbar.html.twig' %}

    <div id="zone1">
        <div class="row obs_template two_columns_66_33">
            <div class="col-md-8 col-sm-12">
                <h2>Identifier, combattre, et anticiper les menaces</h2>

                <p>Données économiques et financières, données personnelles des clients et des collaborateurs... Les actifs des entreprises à sécuriser n'ont jamais été aussi nombreux.</p>
            </div>
        </div>

        <table style="display: none">
            <tr>
                <td style="background-color: #EEE; width: 25%; padding: 0 2rem 1rem; vertical-align: top; border-right: 2.5rem solid white;">
                    <h3>Sécuriser vos contenus numériques</h3>
                    <p>Bénéficier des nouvelles solutions cloud, mobiles, IoT, et Big Data en toute sécurité.</p>
                    <p>Lutter contre les menaces émergentes afin de protégrer vos collaborateurs, vos clients, la réputation et la valeur de votre entreprise dans le respect de la réglementation.</p>
                </td>
                <td style="background-color: #EEE; width: 25%; padding: 0 2rem 1rem; margin: 0 1rem; vertical-align: top; border-left: 2.5rem solid white; border-right: 2.5rem solid white;">
                    <h3>Protéger en priorité vos actifs sensibles</h3>
                    <p>Déployer votre politique de gouvernance de sécurité auprès de tous vos employés et partenaires</p>
                    <p>Définir votre stratégie de gestion des accès en temps réel.</p>
                </td>
                <td style="background-color: #EEE; width: 25%; padding: 0 2rem 1rem; vertical-align: top; border-left: 2.5rem solid white; border-right: 2.5rem solid white;">
                    <h3>Comprendre vos risques</h3>
                    <p>Mettre en place en statégie de sécurité à plusieurs niveaux pour identifier vos failles de sécurité.</p>
                    <p>Etre informé que des hackers ou des logiciels malveillants menacent votre réseau.</p>
                </td>
                <td style="background-color: #EEE; width: 25%; padding: 0 2rem 1rem; vertical-align: top; border-left: 2.5rem solid white;">
                    <h3>Maîtriser les incidents de sécurité</h3>
                    <p>Rechercher mes corrélations entre comportements et incidents suspect pour détecter les attaques et y répondre rapidement pour limiter votre préjudice</p>
                </td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div id="zone2">
        <div class="row obs_template two_columns_66_33">
            <div class="col-md-8 col-sm-12">
                <h2>Orange Cyberdefense protège vos actifs les plus précieux</h2>

                <p>Nous limitons au maximum les impacts des incidents sur votre entreprise grâce à une approche globale et proactive de la sécurité. Intervenant de la définition de la stratégie jusqu'à la mise en oeuvre et sa gestion opérationnelle, Orange Cyberdefense met notamment à votre disposition :</p>
            </div>
        </div>

        <table>
            <tr>
                <td style="width: 33%; vertical-align: top; border-right: 2rem solid white;">
                    <strong>La Threat Intelligence</strong>
                    <p>Pour comprendre ce que les hackers savent de votre entreprise.</p>
                </td>
                <td style="width: 33%; vertical-align: top; border-left: 2rem solid white; border-right: 2rem solid white;">
                    <strong>Un laboratoire d'épidémiologie</strong>
                    <p>Pour identifier les signaux faibles qui annoncent un nouveau type d'attaque et fournir la meilleure réponse.</p>
                </td>
                <td style="width: 33%; vertical-align: top; border-left: 2rem solid white;">
                    <strong>Une équipe de réponse à incident (CERT Computer Emergency Response Team)</strong>
                    <p>Pour un retour rapide à un état normal de production et anticiper les futures attaques.</p>
                </td>
            </tr>
        </table>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div id="zone3">
        <h2>Un réseau mondial et un accès Internet sécurisé</h2>

        <div class="container nopadding">
            <div class="col-md-4 nopadding">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/JjM-PwaYz3c" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="col-md-8"><span style="font-size:1.8rem;"><strong>AkzoNobel</strong></span><br />
                <strong>améliore la sécurité de ses réseaux tout en réduisant ses coûts.</strong><br />
                &nbsp;
                <p>"Pour AkzoNobel, les question de sécurité revêtent une importance capitale pour protéger la propriété intellectuelle.
                    Orange Business Services a transformé notre vision des réseaux et de la sécurité internet. Nous disposons désormais
                    d'un service de sécurité plus efficace, qui nous permet, en outre, de réaliser des économies d'un million d'euros par an."</p>

                <p><span style="font-size:1.2rem;color:darkgrey;">Edwin Wijnhiven, Gestionnaire de prestation de services, Service IT AkzoNobel Conditionnement et Revêtement</span></p>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div id="zone4">
        <h2>Pourquoi choisir Orange Cyberdefense ?</h2>

        <table class="pourquoi">
            <tbody>
            <tr>
                <td class="col">
                    <div class="ligne">
                        <p><span style="font-size:3rem;"><strong>Orange Cyberdefense</strong></span></p>

                        <p>s'appuie sur la richesse et la spécificité de ses compétences humaines et la performance de son organisation et de ses équipements pour anticiper, analyser et contrer les menaces.</p>

                        <p><span style="color:#ff7900;"><span style="font-size: 8rem;"><strong>1200</strong></span></span></p>

                        <p><span style="font-size:3rem;"><span style="color: rgb(255, 121, 0);"><strong>collaborateurs experts des métiers de la sécurité</strong></span></span></p>
                    </div>
                </td>
                <td class="col">
                    <div class="ligne">
                        <p><span style="font-size:2rem;"><strong>Expertise et infrastructures</strong></span></p>

                        <p>Nous avons rassemblé pour vous les expertises et infrastructures sécurité :</p>

                        <ul class="orange">
                            <li><span style="color:#000000;">historiques d'Orange Business Services,</span></li>
                            <li><span style="color:#000000;">Atheos acquise en 2014</span></li>
                            <li><span style="color:#000000;">Lexsi, spécialiste de la Threat Intelligence acquise en 2016.</span></li>
                        </ul>

                        <p>&nbsp;</p>

                        <p><span style="font-size:2rem;"><strong>10 000 équipements de sécurité managés</strong></span></p>

                        <p>par Orange Cyberdefense</p>

                        <p>&nbsp;</p>

                        <p><span style="font-size:2rem;"><strong>6 Sécurity Operation Centers (SoC)</strong></span></p>

                        <p>repartis dans le monde surveillant et réagissant aux évènements 24/7/365</p>
                    </div>
                </td>
                <td class="col">
                    <div class="ligne">
                        <p><strong><span style="font-size:2rem;">1 laboratoire d'épidémiologie</span></strong></p>

                        <p>qui étudie et intègre chaque jour la menace de 20 000 à 30 000 logiciels malveillants non encore détectés par les solutions standard de sécurité</p>

                        <p>&nbsp;</p>

                        <p><span style="font-size:2rem;"><strong>1 Computer Emergency Response Team (CERT)</strong></span></p>

                        <p>en France avec des relais à Montréal et à Singapour pour assurer un suivi 24/7/365</p>

                        <p>&nbsp;</p>

                        <p><strong><span style="font-size:2rem;">2 DDoS Scrubbing Center en France et aux Etats-Unis</span></strong></p>

                        <p>des datacenters spécialisés dans le nettoyage du trafic détecté, bloqué et rerouté en cas d'attaque</p>

                        <p>&nbsp;</p>

                        <p><strong><span style="font-size:2rem;">Certification PASSI</span></strong></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}

    <div{{ content_attributes }}>
        {{ content }}
    </div>

</article>
